---
layout: default
---
{% for post in site.posts %}
<article class="post-card">
  <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
  <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
  {% if post.tags.size > 0 %}
  <div class="tags">{% for tag in post.tags %}<span class="tag">{{ tag }}</span>{% endfor %}</div>
  {% endif %}
  <div class="post-preview">
    {{ post.content | strip_html | truncatewords: 500 }}
  </div>
  <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">read more &rarr;</a>
</article>
{% endfor %}
